@import url('https://fonts.googleapis.com/css?family=Fira+Mono');

$light: #fff;
$medium: #8d9596;
$dark: hsla(210, 29%, 29%, 0.616);

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Fira Mono', monospace;
}

body {
  margin: 0 0;
}

#app {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 1%;
  background-color: $medium;
  .container {
    height: 98%;
    width: 100%;
    padding: 2%;
    color: $light;
    .text-background {
      width: 100%;
      height: 100%;
      padding: 2%;
      background-color: darken($medium, 30%);
      overflow-y: scroll;
    }
    textarea {
      color: $light;
      outline: none;
    }
  }
}

#toolbar {
  padding: 5px;
  background-color: $dark;
  color: $light;
  border: $light 1px solid;
  border-bottom-style: none;
  text-align: center;
  i {
    float: right;
  }
}
