#app {
  height: 100%;
  padding: 1%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "editor-container previewer-container";
  border: black 1px solid;
}
